.my-table{
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;    
    /*margin:1em 0 0 0.5em;*/ 
}
.my-table tbody tr {
    border: 1px #fff solid;
}
.my-table tbody tr td {
    font-family: Arial, sans-serif;
    font-weight: 300;
    font-size: 11pt;
    letter-spacing: 0.02em;
    line-height: 14pt;
    font-smooth: always;
    padding: 3px 10px;
    border-right: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
    border-left: 1px transparent solid;
    border-top: 1px transparent solid;
    box-sizing: border-box;
}
.my-table thead tr th, table thead tr td {
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 5px;
    border-bottom: 1px #ddd solid;
    border-right: 1px #ddd solid;
    border-left: 1px transparent solid;
    border-top: 1px transparent solid;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 11pt;
    letter-spacing: 0.01em;
    line-height: 13pt;
    color: rgba(0, 0, 0, 0.6);
    text-align: left;
}
.my-table thead tr th.right, table thead tr td.right {
    text-align: right;
    padding-right: 10px;
}
.my-table tbody tr td.right {
    text-align: right;
}
.my-table td:hover{
    border-collapse: separate !important;
}
.my-table tbody tr.selected-row {
    background-color: rgba(28, 183, 236, 0.1) !important;
    color:black !important;
}
.my-table tbody tr.selected-row td:first-child {
    border-left: 1px #1c98cc solid;
}
.my-table tbody tr.selected-row td {
    border-top: 1px #1c98cc solid;
    border-bottom: 1px #1c98cc solid;
}
.my-table tbody tr.selected-row td:last-child {
    border-right: 1px #1c98cc solid;
}
.my-table.hovered thead tr th:hover,
.my-table.hovered thead tr td:hover {
  border: 1px #1c98cc solid;
  background: rgba(28, 183, 236, 0.1);
}
.my-table.hovered tbody tr:hover {
  background-color: rgba(28, 183, 236, 0.1);
}
.my-table.hovered tbody tr:hover td:first-child {
  border-left: 1px #1c98cc solid;
}
.my-table.hovered tbody tr:hover td:last-child {
  border-right: 1px #1c98cc solid;
}
.my-table.hovered tbody tr:hover td {
  border-top: 1px #1c98cc solid;
  border-bottom: 1px #1c98cc solid;
}
.my-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}
#curredit{
    position: absolute;
}