/*
   This is a secondary default stylesheet for mPDF
   It will only parse element-level CSS here 
   Remove the comment marks below and edit as required
*/



/* 
   These values used to be the default prior to mPDF 4.2
   Altered to make appearance closer to that of browsers
   Uncomment these lines to return to behaviour prior to v4.2  
*/


/*
img { margin: 0.83em 0; vertical-align: bottom; }
table { margin: 0.5em; }
textarea { vertical-align: top; }
*/
table{margin: 0; padding: 0; border: 1px solid #000;border-collapse:collapse; width: 200px;}
table td{border: 1px dotted #CCCCCC; margin: 0; padding: 3px; border: 1px solid #000;}
.tableheader{background: #F3F3F3;}
.isgroup td{
    background: #fafafa;
}